<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapLibre Example</title>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        const map = new maplibregl.Map({
            container: 'map', // Container ID
            style: "{{ style_url }}", // Fully qualified style.json URL
            hash: true,
            center: [0, 0], // Initial map center [longitude, latitude]
            zoom: 2 // Initial map zoom
        });
        map.addControl(new maplibregl.NavigationControl());
    </script>
</body>
</html>
